<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    <!-- use the font -->
    <style>
        body {
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
        }

        button:hover {
            background-color: green;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;background-color:#eee;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="730" style="border-collapse: collapse;">
    <tr>
        <td bgcolor="#fff" style="padding: 30px 30px 0px 30px;font-size: 32px;">
            <p style="color:#fb2e17;font-weight: 700;
font-size: 32px;
line-height: 37px;
font-family: 'Ubuntu',serif;
font-style: normal;">
                Site Health Tracker
            </p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#fff" style="padding: 0px 30px 0px 30px;font-size: 32px;">
            <p style="font-size: 24px">Обновление пароля</p>
            <p style="font-size: 16px">Пароль в личном кабинете "Site health tracker" успешно обновлен.
                <br><br>Новый пароль для авторизации: <span th:text="${password}"></span></p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#fb2e17" style="padding: 40px 30px 40px 30px;color:#fff;font-size: 21px;">
            <p style="width: 630px; font-size: 16px; margin-bottom: 40px">По всем вопросам пишите на site.health.tracker@gmail.com</p>
        </td>
    </tr>
</table>

</body>
</html>